<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.like.mapper.LoveMapper">
    <insert id="insertLove">
        insert into love(member_num, post_num)
        values(#{memberNum}, #{postNum})
    </insert>
    <delete id="deleteLove">
        delete from love
        where member_num = #{memberNum} and post_num = #{postNum}
    </delete>
    <select id="selectLove" resultType="com.nhnacademy.jdbc.board.like.domain.Love">
        select * from love
        where member_num = #{memberNum} and post_num = #{postNum}
    </select>
    <select id="selectLovePostList" resultType="com.nhnacademy.jdbc.board.like.responseDto.LovePostResponseDto">
        select * from love
                          inner join post on love.post_num = post.post_num
        where love.member_num = #{memberNum} and post.delete_check=0
    </select>


</mapper>
