<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
    <select id="selectPostByPostNum" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select *
        from post
        where post_num = #{postNum}
    </select>

    <select id="selectPosts" resultType="com.nhnacademy.jdbc.board.post.respondDto.BoardRespondDto">
        select *
        from post
            inner join member on post.member_num = member.member_num
        where delete_check = #{deleteCheck}
        order by created_date DESC
        limit #{numPerPage} offset #{startRowPerPage}
    </select>
    <select id="findTotalPostsCount" resultType="java.lang.Integer">
        select count(*)
        from post
        where delete_check = #{deleteCheck}
    </select>

    <select id="selectMemberByPostNum" resultType="com.nhnacademy.jdbc.board.member.domain.Member">
        select member.member_num, member.member_id, member.member_pwd, member.member_grade from post
            inner join member on post.member_num = member.member_num
        where post.post_num = #{postMum}
    </select>
    <select id="findCommentCountByPostNum" resultType="java.lang.Long">
        select count(*)
        from comment
        where post_num = #{postNum}
    </select>
    <select id="selectPostsBySearch" resultType="com.nhnacademy.jdbc.board.post.respondDto.BoardRespondDto">
        select *
        from post
                 inner join member on post.member_num = member.member_num
        where delete_check = #{deleteCheck}
        AND post_title LIKE CONCAT ('%', #{searchValue}, '%')
        order by created_date DESC
            limit #{numPerPage} offset #{startRowPerPage}
    </select>

    <insert id="insertPost">
        insert into post(member_num, post_title, post_content, created_date)
        values (#{memberNum}, #{postTitle}, #{postContent}, #{createdDate})
    </insert>
    <insert id="insertPostWithFile">
        insert into post(member_num, post_title, post_content, created_date, file_name)
        values (#{memberNum}, #{postTitle}, #{postContent}, #{createdDate}, #{fileName})
    </insert>

    <update id="updatePostByPostNum">
        update post set post_title=#{postTitle}, post_content=#{postContent}, modify_member_num = #{memberNum}, modified_date = now()
        where post_num = #{postNum}
    </update>

    <update id="deletePostByPostNum">
        update post set delete_check=#{deleteCheck} where post_num=#{postNum}
    </update>
    <update id="updateDeletePostRestore">
        update post set delete_check=#{deleteCheck} where post_num=#{postNum}
    </update>
</mapper>
