<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
    <select id="selectPostByPostNum" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select *
        from post
        where post_num = #{postNum}
    </select>

    <select id="selectPosts" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select *
        from post
        where delete_check = #{deleteCheck}
        order by created_date DESC
        limit #{numPerPage} offset #{startRowPerPage}
    </select>
    <select id="findTotalPostsCount" resultType="java.lang.Long">
        select count(*)
        from post
        where delete_check = #{deleteCheck}
    </select>

    <insert id="insertPost">
        insert into post(member_num, post_title, post_content, created_date)
        values (#{memberNum}, #{postTitle}, #{postContent}, #{createdDate})
    </insert>

    <update id="updatePostByPostNum">
        update post set post_title=#{postTitle}, post_content=#{postContent}
        where post_num = #{postNum}
    </update>

    <delete id="deletePostByPostNum">
        delete from post where post_num=#{postNum]}
    </delete>
</mapper>
