<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<table>
    <thread>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>수정자</th>
        <th>생성 시간</th>
        <th>수정 시간</th>
        <th>댓글 개수</th>
        <th>수정</th>
        <th>삭제</th>
    </thread>
    <tbody>

    <tr th:each="list : ${posts}">
        <td><span th:text="${list.getPostNum()}"></span></td>
        <td><a th:href="@{'/post/detail/' + ${list.getPostNum()}}"><span th:text="${list.getPostTitle}"></span></a><br/>
        </td>
        <td><span th:text="${list.getMemberId}"></span></td>
        <td><span th:text="${list.getModifyMemberId}"></span></td>
        <td><span th:text="${list.getCreatedDate}"></span></td>
        <td><span th:text="${list.getModifiedDate}"></span></td>
        <td><span th:text="${list.getCommentCount}"></span></td>

        <td>
            <a th:href="@{'/post/modify/' + ${list.getPostNum()}}">수정</a><br/>
        </td>
        <td>
            <a th:href="@{'/post/delete/' + ${list.getPostNum()}}">삭제</a><br/>
        </td>
    </tr>
    </tbody>
</table>

<button type="button" onclick="location.href='/post/register';">게시글 등록
</button>

<div class="container xlarge">
    <div class="pagination">
        <table>
            <tbody>
            <tr>
                <td>

                    <a th:href="@{'/board?page=' + ${paging.getCurrentPage() - 1}}">prev <</a>
                    <script>
                        let startPage = "[[${paging.getStartPage()}]]";
                        let endPage = "[[${paging.getEndPage()}]]";

                        console.log(startPage);
                        console.log(endPage);
                        for (let i = startPage; i <= endPage; ++i) {
                            document.write("<a href=/board?page=" + i + ">" + i + "</a>")
                        }
                    </script>
                    <a th:href="@{'/board?page=' + ${paging.getCurrentPage() + 1}}">> Next</a>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>